
@{
    ViewBag.Title = "Car";
}

<div class="container">
    <div class="row g-5">
        <div class="col-md-3">
            @Html.Partial("~/Views/Shared/_SideNav.cshtml")
        </div>
        <div class="col-md-9">
            <h1 class="display-4 fw-bold mb-5">Car Details:</h1>
            <div class="card mb-3">
                <div class="card-body p-0">
                    <div class="card-header">
                        <label class="form-label fw-bold">Model</label>
                        <input type="text" class="form-control mb-3" value="@ViewBag.Account.Car.Model" />
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">PlateNumber</label>
                                <input type="text" class="form-control" value="@ViewBag.Account.Car.PlateNumber" />
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Year</label>
                                <input type="number" class="form-control" value="@ViewBag.Account.Car.Year" />
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Color</label>
                                <input type="text" class="form-control" value="@ViewBag.Account.Car.Color" />
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Capacity</label>
                                <input type="number" class="form-control" value="@ViewBag.Account.Car.Seat" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3">
                @Html.ActionLink("Edit", "Edit", "Car", null, new { @class = "btn btn-primary px-5 me-2" })
                @Html.ActionLink("Cancel", "Index", "Car", null, new { @class = "btn btn-outline-primary" })
            </div>
        </div>
    </div>
</div>

