
@{
    ViewBag.Title = "Car";
}
@section scripts {
    <script src="~/Scripts/car.js"></script>
}

<div class="container">
    <div class="row g-5">
        <div class="col-md-3">
            @Html.Partial("~/Views/Shared/_SideNav.cshtml")
        </div>
        <div class="col-md-9">
            <h1 class="display-4 fw-bold mb-5">Car Details:</h1>
            <div class="card mb-3">
                <div class="card-body p-0">
                    <div class="card-header">
                        <label class="form-label fw-bold">Model</label>
                        <input type="text" class="form-control mb-3" value="@ViewBag.Account.Car.Model" readonly />
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">PlateNumber</label>
                                <input type="text" class="form-control" value="@ViewBag.Account.Car.PlateNumber" readonly />
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Year</label>
                                <input type="number" class="form-control" value="@ViewBag.Account.Car.Year" pattern="^[0-9]{4}$" maxlength="4" min=1000 max=9999 required />
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Color</label>
                                <input type="text" class="form-control" value="@ViewBag.Account.Car.Color" readonly />
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Capacity</label>
                                <input type="number" class="form-control" value="@ViewBag.Account.Car.Seat" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-2 float-end">
                @Html.ActionLink("Edit", "Edit", "Car", null, new { @class = "btn btn-sm btn-secondary px-5 me-2" })
                <input type="button" id="delete" class="btn btn-sm btn-danger px-5" value="Remove" />
            </div>
        </div>
    </div>
</div>

