@{
    ViewBag.Title = "Pick a Ride";
}

<div class="container">
    <div class="text-center mb-4">
        <h2 class="display-5 fw-bold">Shared Rides</h2>
    </div>
    <div class="row">
        @foreach (var Ride in ViewBag.DriverRides)
        {
            <div class="col-md-6">
                <div class="card shadow-sm mb-5">
                    <div class="card-header">
                        <div class="row pt-2 align-items-center">
                            <div class="col">
                                <h5 class="card-title fw-bold">
                                    <i class="fa-solid fa-clock me-2"></i>
                                    @Ride.DateTime.ToString("h:mm tt")
                                </h5>
                            </div>
                            <div class="col text-end">
                                <h6 class="card-title fw-bold text-muted me-4">
                                    Rs @Ride.Fare.ToString("0.00")
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body row align-items-center p-4">
                        <div class="col-sm-6">
                            <div class="card-text">
                                <i class="fa-solid fa-location-dot me-2"></i>
                                @Ride.Origin.Address, @Ride.Origin.City
                            </div>
                            <div class="card-text">
                                <i class="fa-solid fa-arrow-down my-3"></i>
                            </div>
                            <div class="card-text">
                                <i class="fa-solid fa-location-dot me-2 mb-3 mb-sm-0"></i>
                                @Ride.Destination.Address, @Ride.Destination.City
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card-text">
                                <i class="fa-solid fa-calendar-days me-2 ms-1"></i>
                                @Ride.DateTime.ToString("ddd, dd MMM yyyy")
                            </div>
                            <div class="card-text">
                                <i class="fa-solid fa-car-side me-2 my-3"></i>
                                @Ride.Car.Model (@Html.ActionLink("view", "Index", "Car", null, new { @class = "text-decoration-none" }))
                            </div>
                            <div class="card-text">
                                <i class="fa-solid fa-users me-2"></i>
                                @(Ride.SeatsLeft) Seats Left
                            </div>
                        </div>
                        <div class="row mt-3 g-3">
                            <div class="col-12">
                                @Html.ActionLink("View", "View", "Ride", new { @id = Ride.RideId }, new { @class = "btn btn-sm btn-primary w-100" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Enumerable.Count(ViewBag.DriverRides) == 0)
        {
            <div class="col-md-4 offset-1">
                <img src="~/Content/Images/order.gif" class="img-fluid" alt="order" />
            </div>
            <div class="col-md-6 offset-1 align-self-center">
                <h2>No rides have been <br />shared currently.</h2>
                @Html.ActionLink("Share a ride", "Share", "Ride", null, new { @class = "btn btn-primary my-3 px-4" })
            </div>
        }
    </div>
</div>

