
@{
    ViewBag.Title = "Pick A Ride";
}
@section scripts {
    <script src="~/Scripts/ride.js"></script>
}
<div class="container">
    <div class="row align-items-center g-5 py-5">
        <div class="col-md-6 ps-5 border-start">
            <div class="display-5 fw-bold">@ViewBag.Ride.DateTime.ToString("dddd,")</div>
            <div class="display-5 fw-bold">@ViewBag.Ride.DateTime.ToString("dd MMMM")</div>
            <div class="display-5 fw-bold mt-4">@ViewBag.Ride.DateTime.ToString("h:mm tt")</div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm mt-4 mt-md-0">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item pb-3">
                            <i class="fa-solid fa-location-dot me-2"></i>
                            @ViewBag.Ride.Origin.Address, @ViewBag.Ride.Origin.City
                        </li>
                        <li class="list-group-item pt-3">
                            <i class="fa-solid fa-location-dot me-2"></i>
                            @ViewBag.Ride.Destination.Address, @ViewBag.Ride.Destination.City
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body mx-3">
                    <div class="card-text float-start text-muted">Total price for 1 passenger</div>
                    <div id="fare" class="card-text float-end fw-bold">Rs @ViewBag.Ride.Fare.ToString("0.00")</div>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body mx-3">
                    <div class="card-text float-start text-muted">Seats Left</div>
                    <div id="fare" class="card-text float-end fw-bold">@ViewBag.Ride.SeatsLeft</div>
                </div>
            </div>

        </div>
    </div>

    <div class="row g-5 my-4">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header fw-bold text-muted">
                    <i class="fa-solid fa-car-side me-2"></i>
                    @ViewBag.Ride.Car.Model (@ViewBag.Ride.Car.Year)
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item pb-3">
                            <i class="fa-solid fa-users me-2"></i>
                            @ViewBag.Ride.Car.Seat Seats in Total
                        </li>
                        <li class="list-group-item py-3">
                            <i class="fa-solid fa-hashtag me-2"></i>
                            @ViewBag.Ride.Car.PlateNumber
                        </li>
                        <li class="list-group-item pt-3">
                            <i class="fa-solid fa-palette me-2"></i>
                            @ViewBag.Ride.Car.Color
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header fw-bold text-muted">
                    <i class="fa-solid fa-user me-2"></i>
                    @ViewBag.Ride.Driver.FirstName @ViewBag.Ride.Driver.LastName
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item pb-3">
                            <i class="fa-solid fa-envelope me-2"></i>
                            @ViewBag.Ride.Driver.Email
                        </li>
                        <li class="list-group-item pt-3">
                            <i class="fa-solid fa-phone me-2"></i>
                            @ViewBag.Ride.Driver.Phone
                        </li>
                    </ul>
                </div>
            </div>

            @if (ViewBag.Ride.Comment != null)
            {
                <div class="card mb-4">
                    <div class="card-header fw-bold text-muted">
                        <i class="fa-solid fa-info-circle me-2"></i>
                        Additional Information
                    </div>
                    <div class="card-body">
                        @ViewBag.Ride.Comment
                    </div>
                </div>
            }


        </div>
        <div class="col-md-6">

            <div class="card">
                <div class="card-header fw-bold text-muted">
                    <i class="fa-solid fa-users me-2"></i>
                    Passengers
                </div>
                <div class="card-body">
                    @if (ViewBag.Bookings.Count > 0)
                    {
                        <ul class="list-group list-group-flush">
                            @foreach (var Booking in ViewBag.Bookings)
                            {
                                <li class="list-group-item pb-3">
                                    <i class="fa-solid fa-user me-2"></i>
                                    @Booking.Passenger.FirstName @Booking.Passenger.LastName
                                    <span class="card-text">(@Booking.Seat Seats Taken)</span>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <div class="card-text my-4 text-muted">No Other Passenger Yet</div>
                    }
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-header">
                    <div class="card-text">Number of Seats to book</div>
                </div>
                <div class="card-body">
                    <div class="d-flex">
                        <div id="minus" class="btn btn-secondary">-</div>
                        <input type="number" id="seat" class="form-control mx-4 no-arrow" min="1" max="@ViewBag.Ride.SeatsLeft" value="1" />
                        <div id="plus" class="btn btn-secondary">+</div>
                    </div>
                    <div id="seat-feedback" class="text-danger mt-2">
                        Not enough seats available.
                    </div>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <div class="card-text float-start text-muted mx-3">Total Fare</div>
                    <div id="totFare" class="card-text float-end fw-bold mx-3">Rs @ViewBag.Ride.Fare.ToString("0.00")</div>
                </div>
            </div>

            <div class="mt-5">
                <form id="bookRideForm" class="my-5">
                    <input type="hidden" id="rideId" value="@ViewBag.Ride.RideId" />

                    @if (ViewBag.Account != null)
                    {
                        if (ViewBag.Ride.Driver.AccountId == ViewBag.Account.AccountId)
                        {
                            @Html.ActionLink("Cancel Ride", "Cancel", "Ride", new { @id = ViewBag.Ride.RideId }, new { @class = "btn btn-primary w-100" })
                        }
                        else
                        {
                            <input type="submit" id="book" class="btn btn-primary w-100 @(ViewBag.Ride.DateTime < DateTime.Now ? "disabled" : "")" value="Book Ride" />
                        }
                    }
                    else
                    {
                        <input type="submit" id="book" class="btn btn-primary w-100 @(ViewBag.Ride.DateTime < DateTime.Now ? "disabled" : "")" value="Book Ride" />
                    }
                </form>
            </div>

        </div>
    </div>
</div>

